<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
           defaultHref="/"
           text="Regresar"
           color="primary"
           mode="ios">
        </ion-back-button>   
      </ion-buttons>
      <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      
      <ion-label>Paracetamol      $990</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B12              $4990</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sentralina       $6990</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Omeprazol        $4990</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aspirina         $1190</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
